<% layout('layouts/boiler') %> 
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Create New</a>
    <ul>
        <% for(let camp of campGrounds) { %>
            <li><a href="/campgrounds/<%= camp._id %>"><%= camp.title %></a> </li>
        <% } %>  
    </ul>
    <footer>
        <a href="/campgrounds/new">Create New</a>
    </footer>
